<div class="container">

    <div class="jumbotron text-center" style="margin-top: 10px">
        <h2>Market MEAN</h2>
    </div>

    <div class="row">
        <div class="col-md-4" style="margin: 5px 0">
            <div class="text-center">
                <a class="btn btn-block btn-social btn-facebook"
                        ng-href="auth/facebook">
                    <span class="fa fa-facebook"></span> Entre com o Facebook
                </a>
            </div>
        </div>
        <div class="col-md-4" style="margin: 5px 0">
            <div class="text-center">
                <a class="btn btn-block btn-social btn-google"
                        ng-href="auth/google">
                    <span class="fa fa-google-plus"></span> Entre com o Google+
                </a>
            </div>
        </div>  
        <div class="col-md-4" style="margin: 5px 0">
            <div class="text-center">
                <a class="btn btn-block btn-social btn-github"
                        ng-href="auth/github">
                    <span class="fa fa-github"></span> Entre com o Github
                </a>
            </div>
        </div>  
    </div>

    <div class="row text-center" style="margin: 10px 0">
        <a ng-href="/#/register">...ou cadastre-se</a>
    </div>

</div>