<div layout="row" ng-cloak ng-controller="ItemController">

    <p ng-show="mensagem.texto">
        {{mensagem.texto}}
    </p>

    <div class="form-group">
        <label for="search">Filtrar produtos</label>
        <input type="search" ng-model="filtro" 
                placeholder="parte do nome" class="form-control">    
    </div>
    <div class="form-group">
        <a ng-href="" ng-click="alterar()" data-toggle="modal" 
                data-target="#produtoModal">Novo produto</a>
    </div>

    <table class="table table-hover table-striped table-condensed table-responsive">
        <tr>
            <th>Descrição</th>
            <th>Estoque Mínimo</th>		
            <th>Estoque Atual</th>
            <th></th>
        </tr>
        <tr ng-repeat="produto in produtos | filter: filtro" 
                ng-click="alterar(produto)" data-toggle="modal" data-target="#produtoModal">
            <td class="col-md-9">{{produto.descricao}}</td>
            <td class="col-md-1">{{produto.estoqueMinimo}}</td>
            <td class="col-sm-1">{{produto.estoqueAtual}}</td>
            <td class="col-sm-1"><a ng-href="" ng-click="remover(produto)">Remover</a></td>
        </tr>    
    </table> 

    <div id="produtoModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
        
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title">{{modalTitle}}</h4>
                </div>
                
                <div class="modal-body">
                    <label for="descricao">Descrição</label>
                    <input type="text" ng-model="produto.descricao" 
                            placeholder="descrição" class="form-control">
                    
                    <label for="estoqueMinimo" style="padding-top: 10px">Estoque Mínimo</label>
                    <div class="input-group spinner">
                        <input type="text" class="form-control" ng-model="produto.estoqueMinimo" 
                                only-digits>
                        <div class="input-group-btn-vertical">
                            <button class="btn btn-default" type="button" ng-click="aumentaEstoqueMinimo()">
                                <i class="fa fa-caret-up"></i>
                            </button>
                            <button class="btn btn-default" type="button" ng-click="diminuiEstoqueMinimo()">
                                <i class="fa fa-caret-down"></i>
                            </button>
                        </div>
                    </div>
    
                    <label for="estoqueAtual" style="padding-top: 10px">Estoque Atual</label>
                    <div class="input-group spinner">
                            <input type="text" class="form-control" ng-model="produto.estoqueAtual"
                                    only-digits>
                            <div class="input-group-btn-vertical">
                                <button class="btn btn-default" type="button"
                                        ng-click="aumentaEstoqueAtual()">
                                    <i class="fa fa-caret-up"></i>
                                </button>
                                <button class="btn btn-default" type="button"
                                        ng-click="diminuiEstoqueAtual()">
                                    <i class="fa fa-caret-down"></i>
                                </button>
                            </div>
                    </div>
                </div>
            
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" 
                            ng-click="salvarProduto()" data-dismiss="modal">Salvar</button>
                    <button type="button" class="btn btn-default" 
                            ng-click="listaProdutos()" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

</div>