<div class="jumbotron">
    <h2 class="text-center">Market MEAN - Lista de Compras</h2>
</div>

<p ng-show="mensagem.texto">
    {{mensagem.texto}}
</p>

<div layout="row" ng-cloak ng-controller="ItemController">

    <button class="btn btn-primary" data-toggle="modal"
        data-target="#produtoModal" ng-click="alterar()">Novo Produto
    </button>

    <label for="toggleLista" style="margin-left: 10px">Listar compras</label>
    <input type="checkbox" data-toggle="toggle" id="toggleLista">

    <div class="form-group" style="margin-top: 10px">
        <label for="search">Filtrar produtos</label>
        <input type="search" ng-model="filtro" id="search"
                placeholder="parte do nome" class="form-control">    
    </div>

    <p class="font-small">Produtos cadastrados: {{produtos.length}}</p>

    <table class="table table-hover table-striped table-condensed table-responsive"
            id="tableItems">
        <tr>
            <th>Descrição</th>
            <th>Preciso</th>		
            <th>Tenho</th>
            <th></th>
        </tr>
        
        <tr ng-repeat="produto in produtos | filter: filtro">
                <!-- ng-click="alterar(produto)" data-toggle="modal" data-target="#produtoModal" -->
            <td class="col-md-9"><a ng-click="alterar(produto)" data-toggle="modal" 
                    data-target="#produtoModal">{{produto.descricao}}</a></td>
            <td class="col-md-1">{{produto.estoqueMinimo}}</td>
            <td class="col-sm-1">{{produto.estoqueAtual}}</td>
            <td class="col-sm-1">
                <a ng-href="" ng-click="deleteModal(produto)"><span class="glyphicon glyphicon-trash" 
                        data-toggle="modal" data-target="#deleteModal"></span></a>
            </td>
        </tr>    
        
    </table> 

    <div id="produtoModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
        
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{modalTitle}}</h4>
                </div>
                
                <div class="modal-body">
                    <label for="descricao">Descrição</label>
                    <input type="text" ng-model="produto.descricao" 
                            placeholder="descrição" class="form-control"
                            ng-attr-autofocus>
                    
                    <label for="estoqueMinimo" style="padding-top: 10px">Estoque Mínimo</label>
                    <div class="input-group spinner">
                        <input type="text" class="form-control" ng-model="produto.estoqueMinimo" 
                                only-digits>
                        <div class="input-group-btn-vertical">
                            <button class="btn btn-default" type="button" ng-click="aumentaEstoqueMinimo()">
                                <i class="fa fa-caret-up"></i>
                            </button>
                            <button class="btn btn-default" type="button" ng-click="diminuiEstoqueMinimo()">
                                <i class="fa fa-caret-down"></i>
                            </button>
                        </div>
                    </div>
    
                    <label for="estoqueAtual" style="padding-top: 10px">Estoque Atual</label>
                    <div class="input-group spinner">
                            <input type="text" class="form-control" ng-model="produto.estoqueAtual"
                                    only-digits>
                            <div class="input-group-btn-vertical">
                                <button class="btn btn-default" type="button"
                                        ng-click="aumentaEstoqueAtual()">
                                    <i class="fa fa-caret-up"></i>
                                </button>
                                <button class="btn btn-default" type="button"
                                        ng-click="diminuiEstoqueAtual()">
                                    <i class="fa fa-caret-down"></i>
                                </button>
                            </div>
                    </div>
                </div>
            
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" 
                            ng-click="salvarProduto()" data-dismiss="modal">Salvar</button>
                    <button type="button" class="btn btn-default" 
                            data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="deleteModal" class="modal fade" role="dialog" data-keyboard="false">
        <div class="modal-dialog">
        
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title">{{modalTitle}}</h4>
                </div>
                
                <div class="modal-body">
                    <p>Tem certeza que deseja excluir o produto: {{produto.descricao}}</p>
                </div>
            
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" 
                            ng-click="remover(produto._id)" data-dismiss="modal">Confirmar</button>
                    <button type="button" class="btn btn-default" 
                            ng-click="" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $('#toggleLista').bootstrapToggle();
    $('#toggleLista').change(function() {
/*         if ($(this).prop('checked') == true)
            angular.element(document.getElementById('divItems')).scope().listaCompras();
        else
            angular.element(document.getElementById('divItems')).scope().listaProdutos(); */
                
        angular.element(document.getElementById('tableItems')).scope().chooseList();
        angular.element(document.getElementById('tableItems')).scope().$apply();
    });
    $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]'
    });

    $("#search").addClear({
        onClear: function() {
            angular.element(document.getElementById('tableItems')).scope().chooseList();
            angular.element(document.getElementById('tableItems')).scope().$apply();
        }
    });
    
</script>